<%= content_tag :div, id: "user_stats_#{presenter.uuid}" do %>
  <ol class="list-group">
    <li class="list-group-item d-flex align-items-start">
      <div class="ms-2 me-auto">
        <%= link_to 'Obserwujący', users_show_followers_path(presenter.uuid), data: { turbo_frame: :dynamic_content }, class: 'link-underline link-underline-opacity-0'%>
      </div>
      <span class="badge bg-primary rounded-pill">
        <%= presenter.total_followers%>
      </span>
    </li>
    <li class="list-group-item d-flex align-items-start">
      <div class="ms-2 me-auto">
        <%= link_to 'Obserwowani', users_show_following_path(presenter.uuid), data: { turbo_frame: :dynamic_content }, class: 'link-underline link-underline-opacity-0'%>
      </div>
      <span class="badge bg-primary rounded-pill">
        <%= presenter.total_followed %>
      </span>
    </li>
    <li class="list-group-item d-flex align-items-start">
      <div class="ms-2 me-auto">
        <%= link_to 'Posty', users_posts_path(presenter.uuid), data: { turbo_frame: :dynamic_content }, class: 'link-underline link-underline-opacity-0' %>
      </div>
      <span class="badge bg-primary rounded-pill">
        <%= presenter.total_posts%>
      </span>
    </li>
    <li class="list-group-item d-flex align-items-start">
      <div class="ms-2 me-auto">
        <%= link_to 'Wydarzenia', users_events_path(presenter.uuid), data: { turbo_frame: :dynamic_content }, class: 'link-underline link-underline-opacity-0' %>
      </div>
      <span class="badge bg-primary rounded-pill">
        <%= presenter.total_events%>
      </span>
    </li>

    <!---%= render 'owner_stats', presenter: presenter if owner?(presenter.user)%><!-->

    <% if current_user == presenter.user %>
      <li class="list-group-item d-flex align-items-start">
        <div class="ms-2 me-auto">
          <%= link_to 'Zablokowani użytkownicy', users_show_blocked_path(current_user.uuid), data: { turbo_frame: :dynamic_content }, class: 'link-underline link-underline-opacity-0'%>
        </div>
        <span class="badge bg-primary rounded-pill">
          <%= presenter.total_blocked %>
        </span>
      </li>
    <% end %>
  </ol>
<% end %>