<%= link_to current_user.full_name, users_profile_path(current_user.uuid), class: 'btn btn-success mx-2'%>
<div class="dropdown">
  <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Więcej
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><%= link_to 'Wiadomości', users_conversations_path(current_user.uuid), class: 'dropdown-item' %></li>
    <li><%= link_to 'Historia Aktywności', activity_logs_path, class: 'dropdown-item' %></li>
    <li><%= link_to 'Edytuj Profil', users_edit_profile_path(current_user.uuid), class: 'dropdown-item' %></li>
    <li><hr class="dropdown-divider"></li>
    <li><%= link_to "Wyloguj się", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %></li>
  </ul>
</div>
