<tr id="<%= dom_id event %>">
  <td><%= image_tag event.image_as_thumbnail %></td>
  <td><%= event.title %></td>
  <td><%= event.date %></td>
  <td><%= event.start_at.strftime('%H:%M') %></td>
  <td><%= event.city %></td>
  <td><%= event.street %></td>
  <td><%= event.price %></td>
  <td><%= event.max_tickets - event.total_tickets.to_i %></td>
  <td><%= link_to 'Zobacz szczegóły', event, class: 'btn btn-primary', data: { turbo: false } %></td>
</tr>
