<%= render @product_category %>

<div>
  <ul>
    <%= link_to "Edytuj kategorię produktu", edit_product_category_path(@product_category), class: 'btn btn-info' %> |
    <%= link_to "Powrót", product_categories_path, class: 'btn btn-light' %>
  </ul>
  <%= content_tag :ul do %>
    <%= button_to "Usuń kategorię produktu", @product_category, method: :delete, class: 'btn btn-danger'%>
  <% end %>
</div>
