<%= form_with(model: post) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, value: post.title %>
  </div>

  <div>
    <%= form.rich_text_area :body, value: post.body%>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  
  <div>
    <%= form.label :pictures %>
    <%= form.file_field :pictures, multiple: true %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
