<%= turbo_frame_tag :dynamic_content do %>
  <%= form_with(model: post) do |form| %>
    <div class="form-group mb-2">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :post_category %>
      <%= form.select :post_category_id, PostCategory.pluck(:name, :id), {}, { class: 'form-select mb-4' } %>
    </div>

    <div class="form-group">
      <%= form.rich_text_area :body, class: "form-control my-2" %>
    </div>

    <%= content_tag :div, class: "form-group", data: { controller: 'image-upload-preview' } do %>
      <%= form.label :image %>
      <%= form.file_field :image, class: "form-control", data: { target: 'image-upload-preview.input', action: 'image-upload-preview#setImagePreview' }%>
      <%= image_tag post.image_preload, class: 'my-3', 
            data: { target: 'image-upload-preview.preview' }  if post %>
    <% end %>
    
    <div class="form-group mb-2">
      <%= form.label :pictures %>
      <%= render 'picture_form', form: form %>
    </div>


    <div>
      <%= form.submit class: 'btn btn-success' %>
    </div>
  <% end %>
<% end %>
