<%= form_with(model: post) do |form| %>
  <div class="form-group mb-2">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :post_category %>
    <%= form.select :post_category_id, PostCategory.pluck(:name, :id), {}, { class: 'form-select mb-4' } %>
  </div>

  <div class="form-group">
    <%= form.rich_text_area :body, class: "form-control my-2" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control" %>
  </div>
  
  <div class="form-group mb-2">
    <%= form.label :pictures %>
    <%= render 'picture_form', form: form %>
  </div>


  <div>
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
