<div id="<%= dom_id post %>" class="content my-4">
  <div class='row'>
    <div class='col'>
       <h1> <%= post.title %> </h1>
    </div>
    <div class='col'>
      <%= link_to author.full_name, users_profile_path(author.uuid), class: 'btn btn-outline-success', data: { turbo: false } %>
      <%= render 'actions', post: post if object_author?(post) %>
    </div>
  </div>

  <% if post.image.content_type.in?(%w[image/jpeg image/png])%>
    <%= link_to image_tag(post.image_as_thumbnail), post.image %>
  <% end %>

  <p><%= post.body %></p>

  <% post.pictures.each do |picture| %>
    <%= link_to image_tag(post.picture_as_thumbnail(picture)), picture %>
  <% end if post.pictures.attached? %>

  <%= like_button(post) %>
  <%= "Liczba polubień: #{post.total_reactions}" %> 

</div>

<%= render partial: 'shared/comments',
           collection: post.comments.includes(comments: { user: [:blocked_users] }, user: [:blocked_users]).order(:created_at),
           as: :comment,
           locals: { root_object: post } if user_signed_in? %>
