<div class='col'>
  <strong><%= post.title %></strong>
</div>

<div class='col'>
  <%= post.post_category.name %>
</div>

<div class='col'>
  <%= post.body.to_plain_text.first(50) + '...' %>
</div>

<div class='col' style="min-width: 300px">
  <% if post.image.content_type.in?(%w[image/jpeg image/png])%>
    <%=image_tag(post.image_as_thumbnail)%>
  <% end %>
</div>

<div class='col align-text-middle'>
  <%= link_to 'Zobacz wpis', post, class: 'btn btn-primary mx-2', data: { turbo: false } %>
</div>

