<!DOCTYPE html>
<html>
  <head>
    <title>BlogApplication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render('navbars/navbar')%>
    <%= turbo_stream_from :"dynamic_toast_#{current_user.uuid}" if current_user %>
    <%= content_tag :div, id: "toast_#{current_user.try(:uuid)}" do %>
      <%= render('layouts/notice_message', notice: nil, alert: nil)%>
    <% end %>
  
    <div class="center">
      <%= yield %>
    </div>
  </body>
</html>
